<a href="https://colab.research.google.com/github/JF11579/Adelphi_data_Viz_PyTrends_Project/blob/main/DataVizProj_3_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Packages

In [10]:
library(tidyverse)
install.packages("hablar")
library(hablar)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘hablar’


The following object is masked from ‘package:dplyr’:

    na_if


The following object is masked from ‘package:tibble’:

    num

# Data



*   Import each pair of state data
*   Manueally add FBI crime data 
*.  Manually add Chrucrch attenndence data

## Alabama

In [242]:
Full <- read.csv("/content/Alabama_data.csv", skip=0, header=TRUE)
Short <- read.csv("/content/AL_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)
# Add FBI crime data
combo$Rapes_per_100k <- 40.8
# Add weekly church attendence
combo$church_attendence <- 51
# Add State column
combo$State <- "Alabama"
# Add median household income
combo$Household_Income <- 51734
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
AL_combo <- combo 
head(AL_combo,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T11 45       6         0   0        NA                 NA
2 2022-02-23T11 39       3         10  0        NA                 NA
3 2022-02-23T12 44       3         0   3         0                 12
4 2022-02-23T12 25       6         6   0         0                 12
5 2022-02-23T13 42       9         3   0        25                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         40.8
2 NA                  NA                             NA         40.8
3  0                   0                              0         40.8
4  0                   0                              0         40.8
5  0                   0                              0         40.8
  church_attendence State   Household_Income
1 51                Alabama 51734
2 51                Alabama 51734
3 51                Alabama 51734
4 51                Alabama 51734
5 51                Alabama 51734

### Some variables failed to come in as integers

In [243]:
#df[, 4:17] <- lapply(df[, 4:17], as.numeric)
AL_combo[ , 2:5] <- lapply(AL_combo[, 2:5], as.numeric)

Warning message in lapply(AL_combo[, 2:5], as.numeric):
“NAs introduced by coercion”
Warning message in lapply(AL_combo[, 2:5], as.numeric):
“NAs introduced by coercion”
Warning message in lapply(AL_combo[, 2:5], as.numeric):
“NAs introduced by coercion”
Warning message in lapply(AL_combo[, 2:5], as.numeric):
“NAs introduced by coercion”

In [244]:
head(AL_combo,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T11 45       6          0  0        NA                 NA
2 2022-02-23T11 39       3         10  0        NA                 NA
3 2022-02-23T12 44       3          0  3         0                 12
4 2022-02-23T12 25       6          6  0         0                 12
5 2022-02-23T13 42       9          3  0        25                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         40.8
2 NA                  NA                             NA         40.8
3  0                   0                              0         40.8
4  0                   0                              0         40.8
5  0                   0                              0         40.8
  church_attendence State   Household_Income
1 51                Alabama 51734
2 51                Alabama 51734
3 51                Alabama 51734
4 51                Alabama 51734
5 51                Alabama 51734

## Alaska

In [177]:
Full <- read.csv("/content/Alaska.csv", skip=0, header=TRUE)
Short <- read.csv("/content/AK_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)
# Add FBI crime data
combo$Rapes_per_100k <- 161.6
# Add weekly church attendence
combo$church_attendence <- 30
# Add State column
combo$State <- "Alaska"
# Add median household income
combo$Household_Income <- 75463
#drop extraneous cols
combo <- 
combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
AK_combo <- combo 
head(AK_combo,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T11  0       0         0   0        NA                 NA
2 2022-02-23T12  0       0         0   0        NA                 NA
3 2022-02-23T13  0       0         0   0        NA                 NA
4 2022-02-23T14 36       0         0   0        NA                 NA
5 2022-02-23T15  0       0         0   0        NA                 NA
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         161.6
2 NA                  NA                             NA         161.6
3 NA                  NA                             NA         161.6
4 NA                  NA                             NA         161.6
5 NA                  NA                             NA         161.6
  church_attendence State  Household_Income
1 30                Alaska 75463
2 30                Alaska 75463
3 30                Alaska 75463
4 30                Alaska 75463
5 30                Alaska 75463

##Arizona

In [179]:
Full <- read.csv("/content/Arizona_data.csv", skip=0, header=TRUE)
Short <- read.csv("/content/AZ_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 50.7
# Add weekly church attendence
combo$church_attendence <- 34
# Add State column
combo$State <- "Arizona" #. <<<========
# Add median household income
combo$Household_Income <- 62055
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
AZ_combo <- combo                       
head(AZ_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T11 39       3         10  0        NA                 NA
2 2022-02-23T12 44       3          0  3        NA                 NA
3 2022-02-23T13 42       9          3  0         0                  0
4 2022-02-23T14 34       6          3  3         9                  8
5 2022-02-23T15 24       0          0  0         0                  8
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         50.7
2 NA                  NA                             NA         50.7
3  0                   0                              0         50.7
4  0                   0                              0         50.7
5  0                   0                              0         50.7
  church_attendence State   Household_Income
1 34                Arizona 62055
2 34                Arizona 62055
3 34                Arizona 62055
4 34                Arizona 62055
5 34                Arizona 62055

## Arkansas

In [180]:
Full <- read.csv("/content/Arkansas_data.csv", skip=0, header=TRUE)
Short <- read.csv("/content/Ark_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 72.9 # <<<=====
# Add weekly church attendence
combo$church_attendence <- 41# <=======
# Add State column
combo$State <- "Arkansas" # <<<========
# Add median household income
combo$Household_Income <- 48952
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
ARK_combo <- combo                       
head(ARK_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T11 14       0         0   0        NA                 NA
2 2022-02-23T12 14       0         0   0        NA                 NA
3 2022-02-23T13  7       0         0   0         0                  0
4 2022-02-23T14 14       0         0   0         0                  0
5 2022-02-23T15 14       0         0   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         72.9
2 NA                  NA                             NA         72.9
3  0                   0                              0         72.9
4  0                   0                              0         72.9
5  0                   0                              0         72.9
  church_attendence State    Household_Income
1 41                Arkansas 48952
2 41                Arkansas 48952
3 41                Arkansas 48952
4 41                Arkansas 48952
5 41                Arkansas 48952

## California

In [181]:
Full <- read.csv("/content/California_data.csv", skip=0, header=TRUE)
Short <- read.csv("/content/CA_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 39.2 # <<<====
# Add weekly church attendence
combo$church_attendence <- 31 # <=======
# Add State column
combo$State <- "California" #. <<<========
# Add median household income
combo$Household_Income <- 80440
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
CA_combo <- combo                       
head(CA_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T11 27       0          5  1        NA                 NA
2 2022-02-23T12 26       2         11  0        NA                 NA
3 2022-02-23T13 28       2         13  0        10                  3
4 2022-02-23T14 29       5         22  1        12                  6
5 2022-02-23T15 40       1         26  2         6                  3
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         39.2
2 NA                  NA                             NA         39.2
3  0                   0                              0         39.2
4  0                   0                              0         39.2
5  0                   0                              0         39.2
  church_attendence State      Household_Income
1 31                California 80440
2 31                California 80440
3 31                California 80440
4 31                California 80440
5 31                California 80440

## Colorado

In [182]:
Full <- read.csv("/content/Colorado.csv", skip=0, header=TRUE)
Short <- read.csv("/content/CO_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 71.5 # <<<====
# Add weekly church attendence
combo$church_attendence <- 31 # <=======
# Add State column
combo$State <- "Colorado" #. <<<========
# Add median household income
combo$Household_Income <- 77127
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
CO_combo <- combo                       
head(CO_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T11 11       0         0   0        NA                 NA
2 2022-02-23T12 12       0         2   0        NA                 NA
3 2022-02-23T13 13       2         0   0         0                  0
4 2022-02-23T14 15       0         2   0         0                  7
5 2022-02-23T15 22       0         2   0        22                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         71.5
2 NA                  NA                             NA         71.5
3  0                   0                              0         71.5
4  0                   0                              0         71.5
5  0                   0                              0         71.5
  church_attendence State    Household_Income
1 31                Colorado 77127
2 31                Colorado 77127
3 31                Colorado 77127
4 31                Colorado 77127
5 31                Colorado 77127

## Connecticut

In [183]:
Full <- read.csv("/content/Connecticut.csv", skip=0, header=TRUE)
Short <- read.csv("/content/CT_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 33.6 # <<<====
# Add weekly church attendence
combo$church_attendence <- 30 # <=======
# Add State column
combo$State <- "Connecticut" # <<<========
# Add median household income
combo$Household_Income <- 78833
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
CT_combo <- combo                       
head(CT_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T11 32       0          0  0        NA                 NA
2 2022-02-23T12 11       0          0  0        NA                 NA
3 2022-02-23T13 28       0         11  0         0                  0
4 2022-02-23T14 11       0          0  0         5                  0
5 2022-02-23T15 11       0          0  0         5                  5
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         33.6
2 NA                  NA                             NA         33.6
3  0                   0                              0         33.6
4  0                   0                              0         33.6
5  0                   0                              0         33.6
  church_attendence State       Household_Income
1 30                Connecticut 78833
2 30                Connecticut 78833
3 30                Connecticut 78833
4 30                Connecticut 78833
5 30                Connecticut 78833

## Delaware

In [184]:
Full <- read.csv("/content/Delaware.csv", skip=0, header=TRUE)
Short <- read.csv("/content/DE_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 34.9 # <<<====
# Add weekly church attendence
combo$church_attendence <- 34 # <=======
# Add State column
combo$State <- "Delaware" # <<<========
# Add median household income
combo$Household_Income <- 70176
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
DE_combo <- combo                       
head(DE_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T11  0       0         0   0        NA                 NA
2 2022-02-23T12 13       0         0   0        NA                 NA
3 2022-02-23T13 12       0         0   0         0                  0
4 2022-02-23T14  0       0         0   0         0                  0
5 2022-02-23T15  0       0         0   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         34.9
2 NA                  NA                             NA         34.9
3  0                   0                              0         34.9
4  0                   0                              0         34.9
5  0                   0                              0         34.9
  church_attendence State    Household_Income
1 34                Delaware 70176
2 34                Delaware 70176
3 34                Delaware 70176
4 34                Delaware 70176
5 34                Delaware 70176

## Florida

In [185]:
Full <- read.csv("/content/Florida_data.csv", skip=0, header=TRUE)
Short <- read.csv("/content/FL_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 39.6 # <<<====
# Add weekly church attendence
combo$church_attendence <- 35 # <=======
# Add State column
combo$State <- "Florida" # <<<========
# Add median household income
combo$Household_Income <- 59227
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
FL_combo <- combo                       
head(FL_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 28       2         2   1        NA                 NA
2 2022-02-23T13 45       2         5   1         5                  0
3 2022-02-23T14 38       2         4   0         5                  0
4 2022-02-23T15 40       1         4   0        11                  5
5 2022-02-23T16 34       1         3   0        17                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         39.6
2  0                   0                              0         39.6
3  0                   0                              0         39.6
4  0                   0                              0         39.6
5  0                   0                              0         39.6
  church_attendence State   Household_Income
1 35                Florida 59227
2 35                Florida 59227
3 35                Florida 59227
4 35                Florida 59227
5 35                Florida 59227

## Georgia

In [186]:
Full <- read.csv("/content/Georgia.csv", skip=0, header=TRUE)
Short <- read.csv("/content/GA_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 25.2 # <<<====
# Add weekly church attendence
combo$church_attendence <- 42 # <=======
# Add State column
combo$State <- "Georgia" # <<<========
# Add median household income
combo$Household_Income <- 61980
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
GA_combo <- combo                       
head(GA_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 15       0          5  2        NA                 NA
2 2022-02-23T13 32       2          8  0         0                  0
3 2022-02-23T14 41       0         10  5        13                  4
4 2022-02-23T15 25       3          3  2         4                  0
5 2022-02-23T16 18       5          0  0         9                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         25.2
2  0                   0                              0         25.2
3  0                   0                              0         25.2
4  0                   0                              0         25.2
5  0                   0                              0         25.2
  church_attendence State   Household_Income
1 42                Georgia 61980
2 42                Georgia 61980
3 42                Georgia 61980
4 42                Georgia 61980
5 42                Georgia 61980

## Hawaii

In [187]:
Full <- read.csv("/content/Hawaii.csv", skip=0, header=TRUE)
Short <- read.csv("/content/HI_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 44 # <<<====
# Add weekly church attendence
combo$church_attendence <- 28 # <=======
# Add State column
combo$State <- "Hawaii" # <<<========
# Add median household income
combo$Household_Income <- 83102
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
HI_combo <- combo                       
head(HI_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 76        0        0   0        NA                 NA
2 2022-02-23T13 46        0        0   0        19                  0
3 2022-02-23T14 30       14        0   0         0                  0
4 2022-02-23T15 15        0        0   0         0                  0
5 2022-02-23T16 30       14        0   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         44
2  0                   0                              0         44
3  0                   0                              0         44
4  0                   0                              0         44
5  0                   0                              0         44
  church_attendence State  Household_Income
1 28                Hawaii 83102
2 28                Hawaii 83102
3 28                Hawaii 83102
4 28                Hawaii 83102
5 28                Hawaii 83102

## Idaho

In [188]:
Full <- read.csv("/content/Idaho.csv", skip=0, header=TRUE)
Short <- read.csv("/content/ID_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 45.1 # <<<====
# Add weekly church attendence
combo$church_attendence <- 35 # <=======
# Add State column
combo$State <- "Idaho" # <<<========
# Add median household income
combo$Household_Income <- 60999
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
ID_combo <- combo                       
head(ID_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 17       0          8  0        NA                 NA
2 2022-02-23T13 17       8          0  0        11                  0
3 2022-02-23T14  8       0         16  0         0                  0
4 2022-02-23T15 26       0          8  0         0                  0
5 2022-02-23T16 26       0          0  0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         45.1
2  0                   0                              0         45.1
3  0                   0                              0         45.1
4  0                   0                              0         45.1
5  0                   0                              0         45.1
  church_attendence State Household_Income
1 35                Idaho 60999
2 35                Idaho 60999
3 35                Idaho 60999
4 35                Idaho 60999
5 35                Idaho 60999

## Illinois

In [189]:
Full <- read.csv("/content/Illinois.csv", skip=0, header=TRUE)
Short <- read.csv("/content/IL_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 46 # <<<====
# Add weekly church attendence
combo$church_attendence <- 34 # <=======
# Add State column
combo$State <- "Illinois" # <<<========
# Add median household income
combo$Household_Income <- 69187
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
IL_combo <- combo                       
head(IL_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 50       2         2   0        NA                 NA
2 2022-02-23T13 20       0         6   0         4                  0
3 2022-02-23T14 34       2         8   0         4                  0
4 2022-02-23T15 24       2         0   0         0                  0
5 2022-02-23T16 22       2         4   2         8                  8
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         46
2  0                   0                              0         46
3  0                   0                              0         46
4  0                   0                              0         46
5  0                   0                              0         46
  church_attendence State    Household_Income
1 34                Illinois 69187
2 34                Illinois 69187
3 34                Illinois 69187
4 34                Illinois 69187
5 34                Illinois 69187

## Indiana

In [190]:
Full <- read.csv("/content/Indiana.csv", skip=0, header=TRUE)
Short <- read.csv("/content/IN_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 35.4 # <<<====
# Add weekly church attendence
combo$church_attendence <- 37 # <=======
# Add State column
combo$State <- "Indiana" # <<<========
# Add median household income
combo$Household_Income <- 57603
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
IN_combo <- combo                       
head(IN_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12  4       0         0   0        NA                 NA
2 2022-02-23T13 20       0         0   0         0                  0
3 2022-02-23T14 32       8         0   0         7                  0
4 2022-02-23T15 28       0         4   0         0                  0
5 2022-02-23T16  4       0         0   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         35.4
2  0                   0                              0         35.4
3  0                   0                              0         35.4
4  0                   0                              0         35.4
5  0                   0                              0         35.4
  church_attendence State   Household_Income
1 37                Indiana 57603
2 37                Indiana 57603
3 37                Indiana 57603
4 37                Indiana 57603
5 37                Indiana 57603

## Iowa

In [191]:
Full <- read.csv("/content/Iowa.csv", skip=0, header=TRUE)
Short <- read.csv("/content/IW_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 30.9 # <<<====
# Add weekly church attendence
combo$church_attendence <- 36 # <=======
# Add State column
combo$State <- "Iowa" # <<<========
# Add median household income
combo$Household_Income <- 61691
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
Iowa_combo <- combo                       
head(Iowa_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 25       0         0   0        NA                 NA
2 2022-02-23T13  6       0         0   0         0                  0
3 2022-02-23T14 19       0         0   0         0                  0
4 2022-02-23T15 19       0         0   0         0                  0
5 2022-02-23T16 12       0         0   0        10                 10
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         30.9
2  0                   0                              0         30.9
3  0                   0                              0         30.9
4  0                   0                              0         30.9
5  0                   0                              0         30.9
  church_attendence State Household_Income
1 36                Iowa  61691
2 36                Iowa  61691
3 36                Iowa  61691
4 36                Iowa  61691
5 36                Iowa  61691

## Kansas

In [192]:
Full <- read.csv("/content/Kansas.csv", skip=0, header=TRUE)
Short <- read.csv("/content/KS_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 53.8 # <<<====
# Add weekly church attendence
combo$church_attendence <- 37 # <=======
# Add State column
combo$State <- "Kansas" # <<<========
# Add median household income
combo$Household_Income <- 62807
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
KS_combo <- combo                       
head(KS_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12  6       0         0   5        NA                 NA
2 2022-02-23T13 17       0         0   0         0                  0
3 2022-02-23T14 17       0         0   0         0                  0
4 2022-02-23T15  6       5         0   0         0                  0
5 2022-02-23T16 12       0         6   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         53.8
2  0                   0                              0         53.8
3  0                   0                              0         53.8
4  0                   0                              0         53.8
5  0                   0                              0         53.8
  church_attendence State  Household_Income
1 37                Kansas 62807
2 37                Kansas 62807
3 37                Kansas 62807
4 37                Kansas 62807
5 37                Kansas 62807

# Kentucky

In [193]:
Full <- read.csv("/content/Kentucky.csv", skip=0, header=TRUE)
Short <- read.csv("/content/KY_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 38.2 # <<<====
# Add weekly church attendence
combo$church_attendence <- 39 # <=======
# Add State column
combo$State <- "Kentucky" # <<<========
# Add median household income
combo$Household_Income <- 52295
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
KY_combo <- combo                       
head(KY_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 27       0         0   0        NA                 NA
2 2022-02-23T13 18       0         0   0         6                  0
3 2022-02-23T14  9       4         0   0         0                  0
4 2022-02-23T15 14       0         0   0        19                  0
5 2022-02-23T16 19       0         5   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         38.2
2  0                   0                              0         38.2
3  0                   0                              0         38.2
4  0                   0                              0         38.2
5  0                   0                              0         38.2
  church_attendence State    Household_Income
1 39                Kentucky 52295
2 39                Kentucky 52295
3 39                Kentucky 52295
4 39                Kentucky 52295
5 39                Kentucky 52295

## Louisiana

In [194]:
Full <- read.csv("/content/Louisiana.csv", skip=0, header=TRUE)
Short <- read.csv("/content/LO_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 44.7 # <<<====
# Add weekly church attendence
combo$church_attendence <- 46 # <=======
# Add State column
combo$State <- "Louisiana" # <<<========
# Add median household income
combo$Household_Income <- 51073 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
LO_combo <- combo                       
head(LO_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 16       5          0  0        NA                 NA
2 2022-02-23T13 22       0          0  0        10                  0
3 2022-02-23T14 49       0          0  0         0                  0
4 2022-02-23T15 33       0          0  0         0                  0
5 2022-02-23T16 34       0         11  0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         44.7
2  0                   0                              0         44.7
3  0                   0                              0         44.7
4  0                   0                              0         44.7
5  0                   0                              0         44.7
  church_attendence State     Household_Income
1 46                Louisiana 51073
2 46                Louisiana 51073
3 46                Louisiana 51073
4 46                Louisiana 51073
5 46                Louisiana 51073

## Maine

In [195]:
Full <- read.csv("/content/Maine.csv", skip=0, header=TRUE)
Short <- read.csv("/content/ME_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 33.3 # <<<====
# Add weekly church attendence
combo$church_attendence <- 22 # <=======
# Add State column
combo$State <- "Maine" # <<<========
# Add median household income
combo$Household_Income <- 58924 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
ME_combo <- combo                       
head(ME_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 22       0          0  0        NA                 NA
2 2022-02-23T13  0       0         10  0         0                  0
3 2022-02-23T14  0       0          0  0         0                  0
4 2022-02-23T15 11       0          0  0         0                  0
5 2022-02-23T16 11       0          0  0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         33.3
2  0                   0                              0         33.3
3  0                   0                              0         33.3
4  0                   0                              0         33.3
5  0                   0                              0         33.3
  church_attendence State Household_Income
1 22                Maine 58924
2 22                Maine 58924
3 22                Maine 58924
4 22                Maine 58924
5 22                Maine 58924

 ## Maryland

In [196]:
Full <- read.csv("/content/Maryland.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MD_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 32.8 # <<<====
# Add weekly church attendence
combo$church_attendence <- 31 # <=======
# Add State column
combo$State <- "Maryland" # <<<========
# Add median household income
combo$Household_Income <- 86738 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
MD_combo <- combo                       
head(MD_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 24       12         6   0       NA                 NA
2 2022-02-23T13 24        0        12   0        0                  0
3 2022-02-23T14 30       12         6   0        0                  0
4 2022-02-23T15 19        0         0  12       13                  0
5 2022-02-23T16 31       12         6   6        0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         32.8
2  0                   0                              0         32.8
3  0                   0                              0         32.8
4  0                   0                              0         32.8
5  0                   0                              0         32.8
  church_attendence State    Household_Income
1 31                Maryland 86738
2 31                Maryland 86738
3 31                Maryland 86738
4 31                Maryland 86738
5 31                Maryland 86738

## Massachussettes

In [197]:
Full <- read.csv("/content/Massachusesttes.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MA_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 34.9 # <<<====
# Add weekly church attendence
combo$church_attendence <- 23 # <=======
# Add State column
combo$State <- "Massachussettes" # <<<========
# Add median household income
combo$Household_Income <- 85843 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
MA_combo <- combo                       
head(MA_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 31       0         0   2        NA                 NA
2 2022-02-23T13 12       0         0   0         0                  0
3 2022-02-23T14 19       5         0   2         0                  0
4 2022-02-23T15  7       2         0   0         0                  0
5 2022-02-23T16 22       2         2   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         34.9
2  0                   0                              0         34.9
3  0                   0                              0         34.9
4  0                   0                              0         34.9
5  0                   0                              0         34.9
  church_attendence State           Household_Income
1 23                Massachussettes 85843
2 23                Massachussettes 85843
3 23                Massachussettes 85843
4 23                Massachussettes 85843
5 23                Massachussettes 85843

## Michigan

In [198]:
Full <- read.csv("/content/Michigan.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MI_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 76.9 # <<<====
# Add weekly church attendence
combo$church_attendence <- 33 # <=======
# Add State column
combo$State <- "Michigan" # <<<========
# Add median household income
combo$Household_Income <- 59584 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
MI_combo <- combo                       
head(MI_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 40        4         0  0        NA                 NA
2 2022-02-23T13 24        0        12  0         0                  0
3 2022-02-23T14 32        8         0  0         0                  0
4 2022-02-23T15 43       12         0  0         6                  6
5 2022-02-23T16 24        8         0  0        19                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         76.9
2  0                   0                              0         76.9
3  0                   0                              0         76.9
4  0                   0                              0         76.9
5  0                   0                              0         76.9
  church_attendence State    Household_Income
1 33                Michigan 59584
2 33                Michigan 59584
3 33                Michigan 59584
4 33                Michigan 59584
5 33                Michigan 59584

## Minnesota

In [199]:
Full <- read.csv("/content/Minnesota.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MN_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 43.9 # <<<====
# Add weekly church attendence
combo$church_attendence <- 34 # <=======
# Add State column
combo$State <- "Minnesota" # <<<========
# Add median household income
combo$Household_Income <-  74593 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
MN_combo <- combo                       
head(MN_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 43       0          0  0        NA                 NA
2 2022-02-23T13 22       0          6  0         0                  9
3 2022-02-23T14 25       3          0  0         9                  0
4 2022-02-23T15 12       3          3  0         0                  0
5 2022-02-23T16 19       6         13  0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         43.9
2  0                   0                              0         43.9
3  0                   0                              0         43.9
4  0                   0                              0         43.9
5  0                   0                              0         43.9
  church_attendence State     Household_Income
1 34                Minnesota 74593
2 34                Minnesota 74593
3 34                Minnesota 74593
4 34                Minnesota 74593
5 34                Minnesota 74593

## Mississippi

In [200]:
Full <- read.csv("/content/Mississippi.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MS_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 43.9 # <<<====
# Add weekly church attendence
combo$church_attendence <- 34 # <=======
# Add State column
combo$State <- "Mississippi" # <<<========
# Add median household income
combo$Household_Income <-  74593 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
MS_combo <- combo                       
head(MS_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 10       20        10  10       NA                 NA
2 2022-02-23T13  0        0         0   0        0                  0
3 2022-02-23T14 20        0         0   0        0                  0
4 2022-02-23T15 20        0        10   0        0                  0
5 2022-02-23T16 10        0         0   0        0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         43.9
2  0                   0                              0         43.9
3  0                   0                              0         43.9
4  0                   0                              0         43.9
5  0                   0                              0         43.9
  church_attendence State       Household_Income
1 34                Mississippi 74593
2 34                Mississippi 74593
3 34                Mississippi 74593
4 34                Mississippi 74593
5 34                Mississippi 74593

## Missouri

In [257]:
MO_2 <- read.csv("/content/MO_2.csv", skip=0, header=TRUE)

In [ ]:
MO_2$State <- "Missouri"
head(MO_2)

In [259]:
Full <- read.csv("/content/Missouri.csv", skip=0, header=TRUE)
Short <- MO_2
#Short <- read.csv("/content/MO_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 47.5 # <<<====
# Add weekly church attendence
combo$church_attendence <- 37 # <=======
# Add State column
combo$State <- "Missouri" # <<<========
# Add median household income
combo$Household_Income <-  57409 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
MO_combo <- combo                       
head(MO_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 22       0         0   0        NA                 NA
2 2022-02-23T13 15       3         0   0         0                  0
3 2022-02-23T14 24       3         0   0         0                  0
4 2022-02-23T15 24       0         0   0         0                  0
5 2022-02-23T16 16       3         3   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         47.5
2  0                   0                              0         47.5
3  0                   0                              0         47.5
4  0                   0                              0         47.5
5  0                   0                              0         47.5
  church_attendence State    Household_Income
1 37                Missouri 57409
2 37                Missouri 57409
3 37                Missouri 57409
4 37                Missouri 57409
5 37                Missouri 57409

In [ ]:
MO_combo[ , ]

## Montana

In [202]:
Full <- read.csv("/content/Montana.csv", skip=0, header=TRUE)
Short <- read.csv("/content/MT_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 51.9 # <<<====
# Add weekly church attendence
combo$church_attendence <- 31 # <=======
# Add State column
combo$State <- "Montana" # <<<========
# Add median household income
combo$Household_Income <-  57153 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
MT_combo <- combo                       
head(MT_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 0        0         0   0        NA                 NA
2 2022-02-23T13 8        0         0   0         0                  0
3 2022-02-23T14 0        0         0   8         0                  0
4 2022-02-23T15 0        0         0   0         0                  0
5 2022-02-23T16 0        0         7   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         51.9
2  0                   0                              0         51.9
3  0                   0                              0         51.9
4  0                   0                              0         51.9
5  0                   0                              0         51.9
  church_attendence State   Household_Income
1 31                Montana 57153
2 31                Montana 57153
3 31                Montana 57153
4 31                Montana 57153
5 31                Montana 57153

## Nebraska

In [203]:
Full <- read.csv("/content/Nebraska.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NE_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 51.9 # <<<====
# Add weekly church attendence
combo$church_attendence <- 31 # <=======
# Add State column
combo$State <- "Nebraska" # <<<========
# Add median household income
combo$Household_Income <-  57153 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
NE_combo <- combo                       
head(NE_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12  6       0         0   0        NA                 NA
2 2022-02-23T13  0       0         0   0         0                  0
3 2022-02-23T14  0       0         0   0         0                  0
4 2022-02-23T15  6       0         0   0         8                  0
5 2022-02-23T16 37       0         0   0         8                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         51.9
2  0                   0                              0         51.9
3  0                   0                              0         51.9
4  0                   0                              0         51.9
5  0                   0                              0         51.9
  church_attendence State    Household_Income
1 31                Nebraska 57153
2 31                Nebraska 57153
3 31                Nebraska 57153
4 31                Nebraska 57153
5 31                Nebraska 57153

## Nevada

In [204]:
Full <- read.csv("/content/Nevada.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NE_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 51.9 # <<<====
# Add weekly church attendence
combo$church_attendence <- 31 # <=======
# Add State column
combo$State <- "Nevada" # <<<========
# Add median household income
combo$Household_Income <-  57153 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
NV_combo <- combo                       
head(NV_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 10       5          0  0        NA                 NA
2 2022-02-23T13  0       0         14  0         0                  0
3 2022-02-23T14 10       0          5  0         0                  0
4 2022-02-23T15 10       0          0  0         8                  0
5 2022-02-23T16 10       0          9  0         8                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         51.9
2  0                   0                              0         51.9
3  0                   0                              0         51.9
4  0                   0                              0         51.9
5  0                   0                              0         51.9
  church_attendence State  Household_Income
1 31                Nevada 57153
2 31                Nevada 57153
3 31                Nevada 57153
4 31                Nevada 57153
5 31                Nevada 57153

 ## New Hampshire

In [205]:
Full <- read.csv("/content/NewHampshire.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NH_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 39.4 # <<<====
# Add weekly church attendence
combo$church_attendence <- 22 # <=======
# Add State column
combo$State <- "NewHampshire" # <<<========
# Add median household income
combo$Household_Income <-  77933 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
NH_combo <- combo                       
head(NH_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12  0       0          0  0        NA                 NA
2 2022-02-23T13  0       0          0  0         0                  0
3 2022-02-23T14  0       0          8  0         0                  0
4 2022-02-23T15  9       0          0  8         0                  0
5 2022-02-23T16 25       0         16  0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         39.4
2  0                   0                              0         39.4
3  0                   0                              0         39.4
4  0                   0                              0         39.4
5  0                   0                              0         39.4
  church_attendence State        Household_Income
1 22                NewHampshire 77933
2 22                NewHampshire 77933
3 22                NewHampshire 77933
4 22                NewHampshire 77933
5 22                NewHampshire 77933

## New Jersey

In [206]:
Full <- read.csv("/content/NewJersey.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NJ_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 16 # <<<====
# Add weekly church attendence
combo$church_attendence <- 35 # <=======
# Add State column
combo$State <- "NewJersey" # <<<========
# Add median household income
combo$Household_Income <-  77933 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
NJ_combo <- combo                       
head(NJ_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 25       3         0   0        NA                 NA
2 2022-02-23T13 25       3         3   0         0                  7
3 2022-02-23T14 53       0         0   0         8                  0
4 2022-02-23T15 42       0         7   0         0                  0
5 2022-02-23T16 25       0         7   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         16
2  0                   0                              0         16
3  0                   0                              0         16
4  0                   0                              0         16
5  0                   0                              0         16
  church_attendence State     Household_Income
1 35                NewJersey 77933
2 35                NewJersey 77933
3 35                NewJersey 77933
4 35                NewJersey 77933
5 35                NewJersey 77933

## New Mexico

In [207]:
Full <- read.csv("/content/NewMexico.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NM_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 64.6 # <<<====
# Add weekly church attendence
combo$church_attendence <- 36 # <=======
# Add State column
combo$State <- "NewMexico" # <<<========
# Add median household income
combo$Household_Income <-  51945 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
NM_combo <- combo                       
head(NM_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 16       0         0   0        NA                 NA
2 2022-02-23T13 32       0         0   0        11                  0
3 2022-02-23T14 33       0         0   0         0                  0
4 2022-02-23T15 24       0         0   0         0                  0
5 2022-02-23T16 24       0         0   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         64.6
2  0                   0                              0         64.6
3  0                   0                              0         64.6
4  0                   0                              0         64.6
5  0                   0                              0         64.6
  church_attendence State     Household_Income
1 36                NewMexico 51945
2 36                NewMexico 51945
3 36                NewMexico 51945
4 36                NewMexico 51945
5 36                NewMexico 51945

## New York

In [208]:
Full <- read.csv("/content/NewYork.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NY_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 33.6 # <<<====
# Add weekly church attendence
combo$church_attendence <- 29 # <=======
# Add State column
combo$State <- "NewYork" # <<<========
# Add median household income
combo$Household_Income <- 72108 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
NY_combo <- combo                       
head(NY_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 25       0         6   0        NA                 NA
2 2022-02-23T13 21       0         6   0         9                  5
3 2022-02-23T14 40       3         8   0        14                  3
4 2022-02-23T15 34       0         9   0        15                  6
5 2022-02-23T16 34       2         4   0         3                  9
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         33.6
2  0                   0                              0         33.6
3  0                   0                              0         33.6
4  0                   0                              0         33.6
5  0                   0                              0         33.6
  church_attendence State   Household_Income
1 29                NewYork 72108
2 29                NewYork 72108
3 29                NewYork 72108
4 29                NewYork 72108
5 29                NewYork 72108

## North Carolina

In [209]:
Full <- read.csv("/content/NorthCarolina.csv", skip=0, header=TRUE)
Short <- read.csv("/content/NC_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 25.4 # <<<====
# Add weekly church attendence
combo$church_attendence <- 39 # <=======
# Add State column
combo$State <- "NorthCarolina" # <<<========
# Add median household income
combo$Household_Income <- 57341 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
NC_combo <- combo                       
head(NC_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 22       0         0   0        NA                 NA
2 2022-02-23T13 27       2         9   2        17                  8
3 2022-02-23T14 51       0         2   2         8                  0
4 2022-02-23T15 29       7         7   0         0                  0
5 2022-02-23T16 34       0         5   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         25.4
2  0                   0                              0         25.4
3  0                   0                              0         25.4
4  0                   0                              0         25.4
5  0                   0                              0         25.4
  church_attendence State         Household_Income
1 39                NorthCarolina 57341
2 39                NorthCarolina 57341
3 39                NorthCarolina 57341
4 39                NorthCarolina 57341
5 39                NorthCarolina 57341

## North Dakota

In [210]:
Full <- read.csv("/content/NorthDakota.csv", skip=0, header=TRUE)
Short <- read.csv("/content/ND_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 52.2 # <<<====
# Add weekly church attendence
combo$church_attendence <- 33 # <=======
# Add State column
combo$State <- "NorthDakota" # <<<========
# Add median household income
combo$Household_Income <- 64577 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
ND_combo <- combo                       
head(ND_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12  9       0         0   0        NA                 NA
2 2022-02-23T13 10       0         0   0         0                  0
3 2022-02-23T14 10       0         0   0        94                  0
4 2022-02-23T15  0       0         0   0         0                  0
5 2022-02-23T16 20       0         0   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         52.2
2  0                   0                              0         52.2
3  0                   0                              0         52.2
4  0                   0                              0         52.2
5  0                   0                              0         52.2
  church_attendence State       Household_Income
1 33                NorthDakota 64577
2 33                NorthDakota 64577
3 33                NorthDakota 64577
4 33                NorthDakota 64577
5 33                NorthDakota 64577

## Ohio

In [211]:
Full <- read.csv("/content/Ohio.csv", skip=0, header=TRUE)
Short <- read.csv("/content/OH_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 45.3 # <<<====
# Add weekly church attendence
combo$church_attendence <- 38 # <=======
# Add State column
combo$State <- "Ohio" # <<<========
# Add median household income
combo$Household_Income <- 58642 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
OH_combo <- combo                       
head(OH_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 27        3        3   0        NA                 NA
2 2022-02-23T13 37        0        3   0        12                 17
3 2022-02-23T14 45        0        8   0         0                  0
4 2022-02-23T15 24        8        3   0         6                  0
5 2022-02-23T16 11       11        0   0         6                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         45.3
2  0                   0                              0         45.3
3  0                   0                              0         45.3
4  0                   0                              0         45.3
5  0                   0                              0         45.3
  church_attendence State Household_Income
1 38                Ohio  58642
2 38                Ohio  58642
3 38                Ohio  58642
4 38                Ohio  58642
5 38                Ohio  58642

## Oklahoma

In [212]:
Full <- read.csv("/content/Oklahoma.csv", skip=0, header=TRUE)
Short <- read.csv("/content/OK_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 58.3 # <<<====
# Add weekly church attendence
combo$church_attendence <- 43 # <=======
# Add State column
combo$State <- "Oklahoma" # <<<========
# Add median household income
combo$Household_Income <- 54449 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
OK_combo <- combo                       
head(OK_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 12       18        0   0        NA                 NA
2 2022-02-23T13 36        0        0   0         0                  0
3 2022-02-23T14 30        0        0   0         0                  0
4 2022-02-23T15 30        0        6   0         0                  0
5 2022-02-23T16 12       12        0   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         58.3
2  0                   0                              0         58.3
3  0                   0                              0         58.3
4  0                   0                              0         58.3
5  0                   0                              0         58.3
  church_attendence State    Household_Income
1 43                Oklahoma 54449
2 43                Oklahoma 54449
3 43                Oklahoma 54449
4 43                Oklahoma 54449
5 43                Oklahoma 54449

## Oregon

In [213]:
Full <- read.csv("/content/Oregon.csv", skip=0, header=TRUE)
Short <- read.csv("/content/OR_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 47.1 # <<<====
# Add weekly church attendence
combo$church_attendence <- 29 # <=======
# Add State column
combo$State <- "Oregon" # <<<========
# Add median household income
combo$Household_Income <- 67058 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
OR_combo <- combo                       
head(OR_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 25       0          4  0        NA                 NA
2 2022-02-23T13 12       0          0  0         0                  0
3 2022-02-23T14 23       0          4  0         0                  0
4 2022-02-23T15 20       0          0  0         0                  0
5 2022-02-23T16 12       0         11  0        11                 11
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         47.1
2  0                   0                              0         47.1
3  0                   0                              0         47.1
4  0                   0                              0         47.1
5  0                   0                              0         47.1
  church_attendence State  Household_Income
1 29                Oregon 67058
2 29                Oregon 67058
3 29                Oregon 67058
4 29                Oregon 67058
5 29                Oregon 67058

## Pennsylvania

In [214]:
Full <- read.csv("/content/Pennsylvania.csv", skip=0, header=TRUE)
Short <- read.csv("/content/PA_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 35 # <<<====
# Add weekly church attendence
combo$church_attendence <- 29 # <=======
# Add State column
combo$State <- "Pennsylvania" # <<<========
# Add median household income
combo$Household_Income <- 63463 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
PA_combo <- combo                       
head(PA_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 19       0         6   0        NA                 NA
2 2022-02-23T13 46       0         3   3         7                  7
3 2022-02-23T14 59       0         0   0        27                  0
4 2022-02-23T15 21       0         6   3         7                 14
5 2022-02-23T16 31       6         3   0        21                  7
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         35
2  0                   0                              0         35
3  0                   0                              0         35
4  0                   0                              0         35
5  0                   0                              0         35
  church_attendence State        Household_Income
1 29                Pennsylvania 63463
2 29                Pennsylvania 63463
3 29                Pennsylvania 63463
4 29                Pennsylvania 63463
5 29                Pennsylvania 63463

## Rhode Island

In [215]:
Full <- read.csv("/content/RhodeIsland.csv", skip=0, header=TRUE)
Short <- read.csv("/content/RI_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 45.5 # <<<====
# Add weekly church attendence
combo$church_attendence <- 36 # <=======
# Add State column
combo$State <- "RhodeIsland" # <<<========
# Add median household income
combo$Household_Income <- 71169 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
RI_combo <- combo                       
head(RI_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12  0       0         0   0        NA                 NA
2 2022-02-23T13  0       0         0   0         0                  0
3 2022-02-23T14 11       0         0   0         0                  0
4 2022-02-23T15  0       0         0   0         0                  0
5 2022-02-23T16 22       0         0   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         45.5
2  0                   0                              0         45.5
3  0                   0                              0         45.5
4  0                   0                              0         45.5
5  0                   0                              0         45.5
  church_attendence State       Household_Income
1 36                RhodeIsland 71169
2 36                RhodeIsland 71169
3 36                RhodeIsland 71169
4 36                RhodeIsland 71169
5 36                RhodeIsland 71169

## South Caroliana

In [218]:
Full <- read.csv("/content/SouthCarolina.csv", skip=0, header=TRUE)
Short <- read.csv("/content/SC_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 47.9 # <<<====
# Add weekly church attendence
combo$church_attendence <- 47 # <=======
# Add State column
combo$State <- "SouthCarolina" # <<<========
# Add median household income
combo$Household_Income <- 56227 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
SC_combo <- combo                       
head(SC_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 25       0          6  0        NA                 NA
2 2022-02-23T13 31       6         12  0         0                  0
3 2022-02-23T14 19       0          0  0        21                  0
4 2022-02-23T15  6       0          0  0        10                  0
5 2022-02-23T16  6       0          6  0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         47.9
2  0                   0                              0         47.9
3  0                   0                              0         47.9
4  0                   0                              0         47.9
5  0                   0                              0         47.9
  church_attendence State         Household_Income
1 47                SouthCarolina 56227
2 47                SouthCarolina 56227
3 47                SouthCarolina 56227
4 47                SouthCarolina 56227
5 47                SouthCarolina 56227

## South Dakota

In [219]:
Full <- read.csv("/content/SouthDakota.csv", skip=0, header=TRUE)
Short <- read.csv("/content/SD_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 69.6 # <<<====
# Add weekly church attendence
combo$church_attendence <- 36 # <=======
# Add State column
combo$State <- "SouthDakota" # <<<========
# Add median household income
combo$Household_Income <- 59533 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
SD_combo <- combo                       
head(SD_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12  0       0         11  0        NA                 NA
2 2022-02-23T13  0       0          0  0        NA                 NA
3 2022-02-23T14  0       0          0  0        NA                 NA
4 2022-02-23T15 12       0          0  0        NA                 NA
5 2022-02-23T16  0       0         23  0        NA                 NA
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         69.6
2 NA                  NA                             NA         69.6
3 NA                  NA                             NA         69.6
4 NA                  NA                             NA         69.6
5 NA                  NA                             NA         69.6
  church_attendence State       Household_Income
1 36                SouthDakota 59533
2 36                SouthDakota 59533
3 36                SouthDakota 59533
4 36                SouthDakota 59533
5 36                SouthDakota 59533

## Tennassee

In [32]:
Full <- read.csv("/content/Tennasee.csv", skip=0, header=TRUE)
head(Full,3)

  Time          ketamine...Tennessee. date.rape...Tennessee. GHB...Tennessee.
1 2022-02-23T12 14                    0                       0
2 2022-02-23T13 25                    0                       6
3 2022-02-23T14 19                    0                      11
  Rohypnol...Tennessee. State     X
1 0                     Tennessee
2 3                     Tennessee
3 5                     Tennessee

In [33]:
Full<- Full %>% select(-c('X'))

In [36]:
head(Full)

  Time          ketamine...Tennessee. date.rape...Tennessee. GHB...Tennessee.
1 2022-02-23T12 14                    0                       0
2 2022-02-23T13 25                    0                       6
3 2022-02-23T14 19                    0                      11
4 2022-02-23T15 19                    3                       3
5 2022-02-23T16 31                    6                       0
6 2022-02-23T17 29                    6                       3
  Rohypnol...Tennessee. State
1 0                     Tennessee
2 3                     Tennessee
3 5                     Tennessee
4 0                     Tennessee
5 0                     Tennessee
6 3                     Tennessee

In [35]:
Short <- read.csv("/content/TN_2.csv", skip=0, header=TRUE)
head(Short)

  Time          morning.after.pill...Tennessee. roofie...Tennessee.
1 2022-02-23T13  0                              0
2 2022-02-23T14 41                              0
3 2022-02-23T15  0                              0
4 2022-02-23T16 17                              0
5 2022-02-23T17  9                              9
6 2022-02-23T18 18                              0
  pills.to.avoid.pregnancy.after...Tennessee.
1 0
2 0
3 0
4 0
5 0
6 0
  how.much.is.the.morning.after.bill...Tennessee. i.been.raped...Tennessee.
1 0                                               0
2 0                                               0
3 0                                               0
4 0                                               0
5 0                                               0
6 0                                               0
  State
1 Tennessee
2 Tennessee
3 Tennessee
4 Tennessee
5 Tennessee
6 Tennessee

In [37]:
#Full <- read.csv("/content/Tennasee.csv", skip=0, header=TRUE)
#Short <- read.csv("/content/TN_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 41.7 # <<<====
# Add weekly church attendence
combo$church_attendence <- 51 # <=======
# Add State column
combo$State <- "Tennasee" # <<<========
# Add median household income
combo$Household_Income <- 56071 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
TN_combo <- combo                       
head(TN_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 14       0          0  0        NA                 NA
2 2022-02-23T13 25       0          6  3         0                  0
3 2022-02-23T14 19       0         11  5        41                  0
4 2022-02-23T15 19       3          3  0         0                  0
5 2022-02-23T16 31       6          0  0        17                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         41.7
2  0                   0                              0         41.7
3  0                   0                              0         41.7
4  0                   0                              0         41.7
5  0                   0                              0         41.7
  church_attendence State    Household_Income
1 51                Tennasee 56071
2 51                Tennasee 56071
3 51                Tennasee 56071
4 51                Tennasee 56071
5 51                Tennasee 56071

In [267]:
##AL_combo[ , 2:5] <- lapply(AL_combo[, 2:5], as.numeric)
#TN_combo[ , 6] <- lapply(TN_combo[, 6], as.numeric)

Warning message in lapply(TN_combo[, 6], as.numeric):
“NAs introduced by coercion”
Warning message in `[<-.data.frame`(`*tmp*`, , 6, value = list(NA_real_, NA_real_, :
“provided 169 variables to replace 1 variables”

## Texas

In [221]:
Full <- read.csv("/content/Texas.csv", skip=0, header=TRUE)
Short <- read.csv("/content/TX_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 41.7 # <<<====
# Add weekly church attendence
combo$church_attendence <- 51 # <=======
# Add State column
combo$State <- "Texas" # <<<========
# Add median household income
combo$Household_Income <- 56071 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
TX_combo <- combo                       
head(TX_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 26       11        6   1        NA                 NA
2 2022-02-23T13 26        3        4   1        12                  2
3 2022-02-23T14 37        3        6   1         2                  0
4 2022-02-23T15 43        3        8   0         7                  2
5 2022-02-23T16 48        3        8   0         7                  2
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         41.7
2  0                   0                              0         41.7
3  0                   0                              0         41.7
4  0                   0                              0         41.7
5  0                   0                              0         41.7
  church_attendence State Household_Income
1 51                Texas 56071
2 51                Texas 56071
3 51                Texas 56071
4 51                Texas 56071
5 51                Texas 56071

## Utah

In [222]:
Full <- read.csv("/content/Utah.csv", skip=0, header=TRUE)
Short <- read.csv("/content/UT_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 55.5 # <<<====
# Add weekly church attendence
combo$church_attendence <- 53 # <=======
# Add State column
combo$State <- "Utah" # <<<========
# Add median household income
combo$Household_Income <- 75780 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
UT_combo <- combo                       
head(UT_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 11       0         0   0        NA                 NA
2 2022-02-23T13 18       0         0   0         8                  0
3 2022-02-23T14 19       0         3   0         0                  0
4 2022-02-23T15 16       0         0   0         0                  0
5 2022-02-23T16 13       0         0   0        16                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         55.5
2  0                   0                              0         55.5
3  0                   0                              0         55.5
4  0                   0                              0         55.5
5  0                   0                              0         55.5
  church_attendence State Household_Income
1 53                Utah  75780
2 53                Utah  75780
3 53                Utah  75780
4 53                Utah  75780
5 53                Utah  75780

## Vermont

In [223]:
Full <- read.csv("/content/Vermont.csv", skip=0, header=TRUE)
Short <- read.csv("/content/VT_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 45.8 # <<<====
# Add weekly church attendence
combo$church_attendence <- 21 # <=======
# Add State column
combo$State <- "Vermont" # <<<========
# Add median household income
combo$Household_Income <- 63001 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
VT_combo <- combo                       
head(VT_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12  9       0         0   0        NA                 NA
2 2022-02-23T13 17       0         0   0         0                  0
3 2022-02-23T14 33       0         0   0         0                  0
4 2022-02-23T15  0       0         0   0         0                  0
5 2022-02-23T16 25       0         0   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         45.8
2  0                   0                              0         45.8
3  0                   0                              0         45.8
4  0                   0                              0         45.8
5  0                   0                              0         45.8
  church_attendence State   Household_Income
1 21                Vermont 63001
2 21                Vermont 63001
3 21                Vermont 63001
4 21                Vermont 63001
5 21                Vermont 63001

## Virginia

In [224]:
Full <- read.csv("/content/Virginia.csv", skip=0, header=TRUE)
Short <- read.csv("/content/VI_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 45.8 # <<<====
# Add weekly church attendence
combo$church_attendence <- 21 # <=======
# Add State column
combo$State <- "Virginia" # <<<========
# Add median household income
combo$Household_Income <- 63001 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
VI_combo <- combo                       
head(VI_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 24       2         5   0        NA                 NA
2 2022-02-23T13 19       2         0   0         0                  0
3 2022-02-23T14 15       2         0   0         0                  6
4 2022-02-23T15 14       2         2   0         0                  0
5 2022-02-23T16 21       0         0   0        14                  7
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         45.8
2  0                   0                              0         45.8
3  0                   0                              0         45.8
4  0                   0                              0         45.8
5  0                   0                              0         45.8
  church_attendence State    Household_Income
1 21                Virginia 63001
2 21                Virginia 63001
3 21                Virginia 63001
4 21                Virginia 63001
5 21                Virginia 63001

##Washington

In [225]:
Full <- read.csv("/content/Washington.csv", skip=0, header=TRUE)
Short <- read.csv("/content/WA_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 45.3 # <<<====
# Add weekly church attendence
combo$church_attendence <- 30 # <=======
# Add State column
combo$State <- "Washington" # <<<========
# Add median household income
combo$Household_Income <- 78687 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
WA_combo <- combo                       
head(WA_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 17       2         3   0        NA                 NA
2 2022-02-23T13 26       0         0   5         8                  0
3 2022-02-23T14 23       0         2   2         0                  0
4 2022-02-23T15 35       0         5   0         0                  0
5 2022-02-23T16 26       2         5   5         8                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         45.3
2  0                   0                              0         45.3
3  0                   0                              0         45.3
4  0                   0                              0         45.3
5  0                   0                              0         45.3
  church_attendence State      Household_Income
1 30                Washington 78687
2 30                Washington 78687
3 30                Washington 78687
4 30                Washington 78687
5 30                Washington 78687

## West Virginia

missing file

In [227]:
Full <- read.csv("/content/WestVirginioa.csv", skip=0, header=TRUE)
Short <- read.csv("/content/Ark_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 45.3 # <<<====
# Add weekly church attendence
combo$church_attendence <- 46 # <=======
# Add State column
combo$State <- "WestVirginia" # <<<========
# Add median household income
combo$Household_Income <- 48850 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
WV_combo <- combo                       
head(WV_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12  7       0         7   0        NA                 NA
2 2022-02-23T13  7       0         0   0         0                  0
3 2022-02-23T14  7       0         0   0         0                  0
4 2022-02-23T15  7       7         0   0         0                  0
5 2022-02-23T16 15       0         0   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         45.3
2  0                   0                              0         45.3
3  0                   0                              0         45.3
4  0                   0                              0         45.3
5  0                   0                              0         45.3
  church_attendence State        Household_Income
1 46                WestVirginia 48850
2 46                WestVirginia 48850
3 46                WestVirginia 48850
4 46                WestVirginia 48850
5 46                WestVirginia 48850

## Wisconsin

In [228]:
Full <- read.csv("/content/Wisconsin.csv", skip=0, header=TRUE)
Short <- read.csv("/content/WI_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 38.7 # <<<====
# Add weekly church attendence
combo$church_attendence <- 27 # <=======
# Add State column
combo$State <- "Wisconsin" # <<<========
# Add median household income
combo$Household_Income <- 64168 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
WI_combo <- combo                       
head(WI_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 57       0         4   0        NA                 NA
2 2022-02-23T13 39       0         9   0        10                  0
3 2022-02-23T14 38       4         0   0        10                  0
4 2022-02-23T15 48       0         0   0         0                  0
5 2022-02-23T16 19       4         4   0         0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         38.7
2  0                   0                              0         38.7
3  0                   0                              0         38.7
4  0                   0                              0         38.7
5  0                   0                              0         38.7
  church_attendence State     Household_Income
1 27                Wisconsin 64168
2 27                Wisconsin 64168
3 27                Wisconsin 64168
4 27                Wisconsin 64168
5 27                Wisconsin 64168

## Wyoming

In [25]:
#Full <- read.csv("/content/Wyoming.csv", skip=0, header=TRUE)
#head(Full)

  Time          ketamine...Wyoming. date.rape...Wyoming. GHB...Wyoming.
1 2022-02-23T12 14                  0                     0
2 2022-02-23T13 14                  0                    14
3 2022-02-23T14  0                  0                     0
4 2022-02-23T15 14                  0                     0
5 2022-02-23T16  0                  0                     0
6 2022-02-23T17 42                  0                     0
  Rohypnol...Wyoming. State
1 0                   Wyoming
2 0                   Wyoming
3 0                   Wyoming
4 0                   Wyoming
5 0                   Wyoming
6 0                   Wyoming

In [26]:
#Short <- read.csv("/content/WY_2.csv", skip=0, header=TRUE)
#head(Short)

     Time morning.after.pill...Wyoming. roofie...Wyoming.
     pills.to.avoid.pregnancy.after...Wyoming.
     how.much.is.the.morning.after.bill...Wyoming. i.been.raped...Wyoming.
     State

In [28]:
Full <- read.csv("/content/Wyoming.csv", skip=0, header=TRUE)
Short <- read.csv("/content/WY_2.csv", skip=0, header=TRUE)
combo <- merge(Full,Short, by="Time", all = T)

#head(AL_combo,5)
# Add FBI crime data
combo$Rapes_per_100k <- 42.1 # <<<====
# Add weekly church attendence
combo$church_attendence <- 38 # <=======
# Add State column
combo$State <- "Wyoming" # <<<========
# Add median household income
combo$Household_Income <- 65003 # <<<======
#drop extraneous cols
combo <- combo %>% 
        select(-c('State.x', 'State.y'))
colnames(combo) <- c("Time","ketamine","date_rape","GHB","Rohypnol",
                        "morning_after_pill","roofie","pills_to_avoid_preg",
                       "how_much_is_morning_after_pill","been_raped","Rapes_per_100k","church_attendence","State","Household_Income")
WY_combo <- combo                       
head(WY_combo ,5)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 14       0          0  0        0                  0
2 2022-02-23T13 14       0         14  0        0                  0
3 2022-02-23T14  0       0          0  0        0                  0
4 2022-02-23T15 14       0          0  0        0                  0
5 2022-02-23T16  0       0          0  0        0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 0                   0                              0          42.1
2 0                   0                              0          42.1
3 0                   0                              0          42.1
4 0                   0                              0          42.1
5 0                   0                              0          42.1
  church_attendence State   Household_Income
1 38                Wyoming 65003
2 38                Wyoming 65003
3 38                Wyoming 65003
4 38                Wyoming 65003
5 38                Wyoming 65003

In [296]:
#AL_combo[ , 2:5] <- lapply(AL_combo[, 2:5], as.numeric)
#WY_combo[ , 6:10] <- lapply(WY_combo[, 6:10], as.numeric)

In [ ]:
head(WY_combo,5)

# RowBind

All 50 states have now been combined.  Next we stack them.

In [245]:
First_10 <- bind_rows(AL_combo, AK_combo, AZ_combo, ARK_combo, CA_combo ,CO_combo, CT_combo, DE_combo ,FL_combo, GA_combo)

In [ ]:
head(First_10)

In [247]:
dim(First_10)

[1] 1864   14

In [248]:
Second_10 <-bind_rows(First_10 , HI_combo ,ID_combo , IL_combo ,IN_combo , Iowa_combo ,KS_combo , KY_combo ,LO_combo ,ME_combo ,MD_combo)

In [ ]:
dim(Se)

In [250]:
dim(Second_10)

[1] 3554   14

In [260]:
Third_10 <-  bind_rows(Second_10 ,MA_combo ,MI_combo, MN_combo, MS_combo, MO_combo, MT_combo, NE_combo, NV_combo, NH_combo )

In [ ]:
head(Third_10)

In [263]:
dim(Third_10)

[1] 5075   14

In [264]:
Fourth_10 <- bind_rows(Third_10 ,NJ_combo ,NM_combo,NY_combo, NC_combo,ND_combo, OH_combo,OK_combo, OR_combo, PA_combo)

In [265]:
dim(Fourth_10)

[1] 6596   14

In [293]:
Fifth_10 <-bind_rows(Fourth_10 ,RI_combo ,SC_combo ,SD_combo ,TN_combo ,TX_combo , UT_combo,VT_combo, VI_combo,WA_combo ,WV_combo )

In [294]:
dim(Fifth_10) #8285 x 14

[1] 8285   14

In [299]:
Sixth_10 <- bind_rows(Fifth_10 ,WY_combo )

In [300]:
dim(Sixth_10)

[1] 8453   14

In [ ]:
filter(Sixth_10 , State == "Tennasee")

#Cache the data

In [302]:
DataVizWideData_3_20_2 <- Sixth_10

In [303]:
write.csv(DataVizWideData_3_20_2 ,"DataVizWideData_3_20_2.csv")

### Now re-import DataVizWideData_3_20.csv and take it from Wide to Long

In [283]:
wide_data <- read.csv("/content/DataVizWideData_3_20.csv")

In [38]:
head(wide_data)

ERROR: ignored

In [304]:
LONG_DATA <- wide_data %>%
              pivot_longer(cols = -c(Time,State))

In [305]:
dim(LONG_DATA)

[1] 107705      4

In [285]:
head(LONG_DATA)

  Time          State   name               value
1 2022-02-23T11 Alabama X                   1
2 2022-02-23T11 Alabama ketamine           45
3 2022-02-23T11 Alabama date_rape           6
4 2022-02-23T11 Alabama GHB                 0
5 2022-02-23T11 Alabama Rohypnol            0
6 2022-02-23T11 Alabama morning_after_pill NA

In [288]:
tail(LONG_DATA)

  Time          State        name                           value
1 2022-03-02T12 WestVirginia pills_to_avoid_preg                0.0
2 2022-03-02T12 WestVirginia how_much_is_morning_after_pill     0.0
3 2022-03-02T12 WestVirginia been_raped                         0.0
4 2022-03-02T12 WestVirginia Rapes_per_100k                    45.3
5 2022-03-02T12 WestVirginia church_attendence                 46.0
6 2022-03-02T12 WestVirginia Household_Income               48850.0

### Lets cached the long data

In [306]:
write.csv(LONG_DATA , "DataViz_LongData_3_20_2.csv")

# '##################################################'

### Why are Wyoming and NY both empty?  do they have any values?

In [5]:
long_data <- read.csv('/content/DataViz_LongData_3_20_2.csv')

In [6]:
dim(long_data)

[1] 107705      5

In [21]:
tail(long_data)

       X      Time          State        name                           value
107700 107700 2022-03-02T12 WestVirginia pills_to_avoid_preg                0.0
107701 107701 2022-03-02T12 WestVirginia how_much_is_morning_after_pill     0.0
107702 107702 2022-03-02T12 WestVirginia been_raped                         0.0
107703 107703 2022-03-02T12 WestVirginia Rapes_per_100k                    45.3
107704 107704 2022-03-02T12 WestVirginia church_attendence                 46.0
107705 107705 2022-03-02T12 WestVirginia Household_Income               48850.0

In [11]:
ny <- long_data %>% 
      filter(grepl("NewYork", State))

In [17]:
dim(ny)

[1] 2197    5

In [22]:
tn <- long_data %>% 
      filter(grepl("Tennasee", State))

In [23]:
dim(tn)

[1] 2197    5

In [ ]:
tn

In [19]:
wy <- long_data %>% 
      filter(grepl("Wyoming", State))

In [20]:
dim(wy)

[1] 0 5

### Ok, We think the Wyoming and Tennasee data sets are corrected.  Again. Let us append them row wise to

### VERY fortunately for me I cached the DataVizWideData_3_20_2.csv since something went wrong with Tennasse and Wyoming data I do not need to do much more than append these 2 states

In [39]:
data_wide_3_21 <- read.csv('/content/DataVizWideData_3_20.csv')

In [40]:
head(data_wide_3_21)

  X Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 1 2022-02-23T11 45       6          0  0        NA                 NA
2 2 2022-02-23T11 39       3         10  0        NA                 NA
3 3 2022-02-23T12 44       3          0  3         0                 12
4 4 2022-02-23T12 25       6          6  0         0                 12
5 5 2022-02-23T13 42       9          3  0        25                  0
6 6 2022-02-23T13 19       0         18  0        25                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         40.8
2 NA                  NA                             NA         40.8
3  0                   0                              0         40.8
4  0                   0                              0         40.8
5  0                   0                              0         40.8
6  0                   0                              0         40.8
  church_attendence State   Household_Income
1 51                Alabama 51734
2 51                Alabama 51734
3 51                Alabama 51734
4 51                Alabama 51734
5 51                Alabama 51734
6 51                Alabama 51734

### Drop that errant "x" first col

In [41]:
data_wide_3_21 <- data_wide_3_21%>% 
        select(-c('X'))

In [42]:
head(data_wide_3_21)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T11 45       6          0  0        NA                 NA
2 2022-02-23T11 39       3         10  0        NA                 NA
3 2022-02-23T12 44       3          0  3         0                 12
4 2022-02-23T12 25       6          6  0         0                 12
5 2022-02-23T13 42       9          3  0        25                  0
6 2022-02-23T13 19       0         18  0        25                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 NA                  NA                             NA         40.8
2 NA                  NA                             NA         40.8
3  0                   0                              0         40.8
4  0                   0                              0         40.8
5  0                   0                              0         40.8
6  0                   0                              0         40.8
  church_attendence State   Household_Income
1 51                Alabama 51734
2 51                Alabama 51734
3 51                Alabama 51734
4 51                Alabama 51734
5 51                Alabama 51734
6 51                Alabama 51734

### Next we append Wyoming and Tennasee to data_wide

In [43]:
dim(data_wide_3_21)

[1] 8285   14

In [44]:
#First_10 <- bind_rows(AL_combo, AK_com
                     
First_11 <- bind_rows(data_wide_3_21 ,TN_combo , WY_combo)

In [45]:
dim(First_11)

[1] 8622   14

### Again, let's cache the data

In [47]:
WideData_3_21 <- First_11

In [48]:
write.csv(WideData_3_21,"WideData_3_21.csv")

### Lets re-re-verify that Wyoming and Tennasse are in the data set now

In [ ]:
tn <- WideData_3_21 %>% 
      filter(grepl("Tennasee", State))
head(tn)

In [51]:
wy <- WideData_3_21 %>% 
      filter(grepl("Wyoming", State))
head(wy)

  Time          ketamine date_rape GHB Rohypnol morning_after_pill roofie
1 2022-02-23T12 14       0          0  0        0                  0
2 2022-02-23T13 14       0         14  0        0                  0
3 2022-02-23T14  0       0          0  0        0                  0
4 2022-02-23T15 14       0          0  0        0                  0
5 2022-02-23T16  0       0          0  0        0                  0
6 2022-02-23T17 42       0          0  0        0                  0
  pills_to_avoid_preg how_much_is_morning_after_pill been_raped Rapes_per_100k
1 0                   0                              0          42.1
2 0                   0                              0          42.1
3 0                   0                              0          42.1
4 0                   0                              0          42.1
5 0                   0                              0          42.1
6 0                   0                              0          42.1
  church_attendence State   Household_Income
1 38                Wyoming 65003
2 38                Wyoming 65003
3 38                Wyoming 65003
4 38                Wyoming 65003
5 38                Wyoming 65003
6 38                Wyoming 65003

### Alright , that looks correct. Lets shift it from Wide to Long

In [52]:
#LONG_DATA <- wide_data %>%
#             pivot_longer(cols = -c(Time,State))

LONG_DATA_3_21 <- WideData_3_21 %>%
              pivot_longer(cols = -c(Time,State))

In [53]:
head(LONG_DATA_3_21)

  Time          State   name               value
1 2022-02-23T11 Alabama ketamine           45
2 2022-02-23T11 Alabama date_rape           6
3 2022-02-23T11 Alabama GHB                 0
4 2022-02-23T11 Alabama Rohypnol            0
5 2022-02-23T11 Alabama morning_after_pill NA
6 2022-02-23T11 Alabama roofie             NA